.spinner-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  max-width: 600px;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner {
    width: fit-content;
    text-align: center;
    animation: spinner-animation infinite 3s linear;
    img {
      width: 50px;
    }
  }
}

@keyframes spinner-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
